<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Redis 测试页面</title>
</head>
<body>
<form method="post" action="/getback/">
    <input name="key" type="text"/>
    <input name="value" type="text">
    <input type="submit">
</form>
<a href="/setvalue/">redis写入</a>
<a href="/getvalue/">redis读取</a>
<a href="/delvalue/">redis删除</a>
<a href="/listvalue/">redis的List</a>
<a href="/mapvalue/">redis的Map</a>
<br>
<a href="/testinsert/">mongo写入</a>
<a href="/testfind/">mongo查找</a>
<a href="/testupdate/">mongo更新</a>
<a href="/testdel/">mongo删除</a>
<a href="/testremove/">mongo的Remove</a>
<a href="/testmaprduce/">mongo的MapReduce</a>
<br>
<a href="/mtestset/">memcached写入</a>
<a href="/mtestget/">memcached得到</a>
<a href="/mtestadd/">memcached加入</a>
<a href="/mtestdelete/">memcached删除</a>
<a href="/mtestappend/">memcached追加</a>
<a href="/mtestgetMulti/">memcached批量得到</a>
<a href="/mtestincr/">memcached加</a>
<a href="/mtestdecr/">memcached减</a>
<a href="/mtestreplace/">memcached更新</a>
<a href="/mteststats/">memcached状态</a>
<p>reslut : {{ reslut }}</p>
</body>
</html>